/* font-weight: Use a value from 100 to 900 */
/* font-variation-settings: Use a value from 62.5 to 100 */
/* Copyright: By Google */

.noto {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	/* ^This is required to enable font variation */
	font-weight: 456;
	font-style: normal;
	/* ^This is required to enable italic style */
	font-variation-settings: "wdth" 100;
	/* ^This is the width of the font */
}

.code {
	background-color: rgb(0, 0, 0);
	color: aliceblue;
	padding: 3.76px 10px;
	border-radius: 7.254px;
	font-size: 18.24px;
	font-family: "Consolas", monospace;
}

/** Really Complex Navbar code: **/

/* For the whole area behind the li's and a's: */
ul.nav {
	background-color: #00155f;
	display: flex;
	width: 100%;
	justify-content: flex-end;
	padding: 0;
}

/* For the areas behind the actual navbar but above the ul: */

li.navtab {
	justify-items: flex-end;
	display: inline-flex;
	padding: 10px 2px;
}

/* The actual navbar: */

.navtab a {
	text-decoration: none;
	text-align: center;
	padding: 10px 14px;
	color: aliceblue;
	background-color: #464646;
	border: 1px solid aliceblue;
	font-size: 1rem;
	border-radius: 0.5em;
}

li:last-child a {
	margin-right: 0.5rem;
}

li a:hover {
	background-color: #349dff;
	border: none;
}

/* Navbar code end. */
/* Fake Progress Bars! */

#container {
	display: inline-flex;
	width: 50%;
	overflow: hidden;
	background-color: #a2a2a2;
	border-radius: .45rem;
	align-items: center;
	margin-top: 1.23%;
}

.bar {
	display: inline-block;
	text-align: right;
	padding: .45rem;
	width: 10%;
	color: #000000;
}

.p-bar {
	width: 46%;
	background-color: #349dff;
}