:root {
	/* Color Palettes */
	/* Primary (blues) */
	--clr-p-100: #3b90ff;
	--clr-p-200: #0b5ecb;
	--clr-p-400: #09377c;
	--clr-p-500: #082873;
	--clr-p-600: #041869;
	--clr-p-700: #030b40;
	--clr-p-800: #020a2d;

	/* Accent (deeper blues) */
	--clr-a-100: #0081e4;
	--clr-a-200: #0066c5;
	--clr-a-250: #0053a6;
	--clr-a-300: #0049a6;
	--clr-a-400: #00318e;
	--clr-a-500: #001f76;
	--clr-a-600: #00116b;
	--clr-a-700: #000c63;

	/* Secondary (greens) */
	--clr-s-200: #30ff3e;
	--clr-s-300: #0be70b;
	--clr-s-400: #07b707;
	--clr-s-500: #00bc00;
	--clr-s-600: #009900;
	--clr-s-700: #006600;
	--clr-s-800: #003300;

	/* Tertiary (oranges/reds) */
	--clr-t-100: #f1a518;
	--clr-t-300: #f08e16;
	--clr-t-400: #f06a14;
	--clr-t-500: #f05813;
	--clr-t-700: #f02310;
	--clr-t-800: #f0110f;

	/* Yellows (4th pallete) */
	--clr-Y-100: #fff9c4;
	--clr-Y-200: #fff176;
	--clr-Y-300: #ffeb3b;
	--clr-Y-400: #fbc02d;
	--clr-Y-500: #f57f17;
	--clr-Y-600: #ff6f00;
	--clr-Y-700: #e65100;
	--clr-Y-900: #8d2401;

	/* Hover states */
	--clr-hover-100: #0c78e4be;
	--clr-hover-200: #0b54b3bc;
	--clr-hover-300: #074ab6bb;
	--clr-hover-400: #0b3574b9;
	--clr-hover-500: #072670b7;
	--clr-hover-600: #00246db5;
	--clr-hover-700: #000d5eb4;
	--clr-hover-800: #05174ab3;

	/* Neutrals (grayscale) */
	--clr-n-0: #ffffff;
	--clr-n-50: #f5f5f5;
	--clr-n-100: #c7c7c7;
	--clr-n-200: #a7a7a7;
	--clr-n-300: #787878;
	--clr-n-400: #595959;
	--clr-n-500: #3b3b3b;
	--clr-n-600: #242424;
	--clr-n-700: #1f1f1f;
	--clr-n-800: #0a0a0a;
	--clr-n-900: #000000;

	/* Transparency */
	--clr-tr-0: #ffffff00;
	--clr-tr-100: #ffffff1a;
	--clr-tr-200: #ffffff33;
	--clr-tr-300: #ffffff4d;
	--clr-tr-400: #ffffff66;
	--clr-tr-500: #ffffff80;
	--clr-tr-600: #ffffff99;
	--clr-tr-800: #ffffffcc;

	/* UI Colors */
	--bg-clr-light: #dfdfdf;
	--bg-clr-dark: #5c5c5c;
	--bg-clr-imp: #4f4f4f;
	--bg-clr-accent: #0066c5;
	--txt-clr-light: #ededed;
	--txt-clr-dark: #292727;
	--bdr-clr-light: #cbcbcb;
	--bdr-clr-dark: #464646;

	/* Font sizes */
	--fs-h1: 2.65rem;
	--fs-h2: 2rem;
	--fs-h3: 1.5rem;
	--fs-body: 1.25rem;
	--fs-nav: 1.05rem;
	--fs-button: 0.94rem;
	--fs-small: 0.85rem;
	--fs-medium: 1rem;
	--fs-large: 1.4rem;
	--fs-xlarge: 1.75rem;

	/* Font weights */
	--fw-text: 450;
	--fw-list: 550;
	--fw-imp: 650;
	--fw-section: 700;
	--fw-head: 750;

	/* Spacing */
	--m-min: 0.7rem;
	--m-normal: 1rem;
	--m-box: 1.5rem;
	--m-space: 2rem;
	--m-max: 3rem;

	--p-min: 0.35rem;
	--p-btn: 0.38rem 0.6rem;
	--p-normal: 1rem;
	--p-box: 1.7rem;
	--p-space: 2rem;
	--p-max: 2.75rem;

	/* Border Radius */
	--br-min: 0.30rem;
	--br-normal: 0.52rem;
	--br-button: 0.70rem;
	--br-max: 0.87rem;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

/* font-weight: Use a value from 100 to 900 */
/* font-variation-settings: Use a value from 62.5 to 100 */
/* Copyright: By Google */

.noto {
	font-family: "Noto Sans", sans-serif;
	font-optical-sizing: auto;
	/* ^This is required to enable font variation */
	font-weight: 456;
	font-style: normal;
	/* ^This is required to enable italic style */
	font-variation-settings: "wdth" 100;
	/* ^This is the width of the font */
}

.code {
	background-color: rgb(0, 0, 0);
	color: var(--txt-clr-light);
	padding: 3.76px 10px;
	border-radius: 7.254px;
	font-size: 18.24px;
	font-family: "Consolas", monospace;
}

/** Really Complex Navbar code: **/

/* For the whole area behind the li's and a's: */
ul.nav {
	/* background-color: var(--clr-s-500); */
	display: flex;
	width: 100%;
	padding: 0;
}

/* For the areas behind the actual navbar but above the ul: */

/* li.navtab {
	align-self: center;
	padding: var(--p-min);
	list-style: none;
	margin-inline: var(--m-space) var(--m-min);
	display: flex;
	justify-items: center;
	align-content: center;
	width: 100%;
	padding: 10px 20px;
	justify-content: space-evenly;
	outline: 1px solid var(--bdr-clr-light);
} */

/** Hmm What about selecting ONLY .navtab? */

.navtab {
	align-self: center;
	/* padding: var(--p-min); */
	list-style: none;
	margin-inline: var(--m-space) var(--m-min);
	display: flex;
	/* justify-items: center; */
	align-content: center;
	/* width: 100%; */
	padding: 10px 20px;
	justify-content: space-evenly;
	/* outline: 1px solid var(--bdr-clr-light); */
}

/* * This still doesn't work */

/* ? Playing with specificity up there^ */

/* !This below block of code just DOESN'T WORK! */
div.navtabs {
	background-color: var(--clr-n-250);
	display: flex;
	/* align-self: flex-end; This works?? */
}

/* TODO: Fix the NAVBAR!  */

/* The actual navbar: */

.navtab a {
	display: flex;
	text-decoration: none;
	text-align: center;
	padding: 10px 20px;
	color: var(--txt-clr-light);
	background-color: var(--clr-n-450);
	outline: 1px solid var(--bdr-clr-light);
	outline-offset: .5px;
	font-size: var(--fs-nav);
	border-radius: 0.5em;
}

li:last-child a {
	margin-right: var(--m-min);
}

li a:hover {
	background-color: var(--clr-s-650);
	color: var(--txt-clr-light);
}

.logo {
	display: flex;
	background-color: var(--clr-p-300);
	padding: .2rem var(--p-min);
	justify-content: center;
	align-items: center;
}

h1 {
	color: var(--txt-clr-light);
	text-align: center;
	margin: 0;
	padding: var(--p-normal);
}


/*! So many lines of code isnt it? Check out styles.css for the smaller but working code!! */
/* Navbar code end. */
/* Fake Progress Bars! */

#container {
	display: inline-flex;
	width: 50%;
	overflow: hidden;
	background-color: var(--clr-n-150);
	border-radius: .45rem;
	align-items: center;
	margin-top: 1.23%;
	margin-bottom: 1.23%;
}

.bar {
	display: inline-block;
	text-align: right;
	padding: var(--p-width) var(--p-height);
	width: 10%;
}

.p-bar {
	width: 46%;
	background-color: var(--clr-t-100);
	color: var(--clr-n-800);
}

/* Page Styling here:  */

.experiment-header {
	margin: var(--m-box);
	padding: var(--p-min);
	font-size: var(--fs-h2);
	font-weight: var(--fw-head);
}

.description {
	margin-inline: var(--m-min);
	padding: var(--p-min) var(--p-width);
	font-size: var(--fs-body);
	font-weight: var(--fw-text);
	line-height: 1.3;
	text-align: justify;
	text-justify: distribute-all-lines;
	word-wrap: break-word;
	hyphens: auto;
	overflow-wrap: break-word;
}

.experiments {
	margin: var(--m-min);
	padding: var(--p-min);
	font-size: var(--fs-h3);
	font-weight: var(--fw-text);
}

ol {
	margin: var(--m-width);
	padding: var(--p-min) var(--p-space);
	font-size: var(--fs-list);
	font-weight: var(--fw-list);
}