:root {
	/** Primary colors **/
	--clr-p-100: #3b90ff;
	--clr-p-150: #1a7ce9;
	--clr-p-200: #0b5ecb;
	--clr-p-300: #084fab;
	--clr-p-400: #09377c;
	--clr-p-500: #082873;
	--clr-p-550: #052164;
	--clr-p-600: #041869;
	--clr-p-700: #030b40;
	--clr-p-800: #020a2d;

	/** Accent Colors **/
	--clr-a-100: #0081e4;
	--clr-a-200: #0066c5;
	--clr-a-250: #0053a6;
	--clr-a-300: #0049a6;
	--clr-a-350: #00429e;
	--clr-a-375: #003f9e;
	--clr-a-400: #00318e;
	--clr-a-450: #002a7e;
	--clr-a-500: #001f76;
	--clr-a-550: #001a6e;
	--clr-a-600: #00116b;
	--clr-a-650: #000f67;
	--clr-a-700: #000c63;
	--clr-a-800: #000a5f;

	/** Secondary Colors **/
	--clr-s-100: #44fb69;
	--clr-s-200: #30ff3e;
	--clr-s-300: #1eff1e;
	--clr-s-350: #04db04;
	--clr-s-375: #03b703;
	--clr-s-400: #07b707;
	--clr-s-450: #05a905;
	--clr-s-500: #00bc00;
	--clr-s-600: #009900;
	--clr-s-650: #007700;
	--clr-s-700: #006600;
	--clr-s-750: #004c00;
	--clr-s-800: #003300;

	/** Tertiary Colors **/
	--clr-t-100: #f1a518;
	--clr-t-200: #f09a17;
	--clr-t-300: #f08e16;
	--clr-t-350: #f07c15;
	--clr-t-400: #f06a14;
	--clr-t-500: #f05813;
	--clr-t-600: #f04612;
	--clr-t-650: #f03511;
	--clr-t-700: #f02310;
	--clr-t-800: #f0110f;

	/** Hover Colors **/
	--clr-hover-100: #0c78e4be;
	--clr-hover-150: #0e63d4bd;
	--clr-hover-200: #0b54b3bc;
	--clr-hover-250: #0a4aa3bb;
	--clr-hover-300: #074ab6bb;
	--clr-hover-350: #063781ba;
	--clr-hover-400: #0b3574b9;
	--clr-hover-450: #062e6ab8;
	--clr-hover-500: #072670b7;
	--clr-hover-550: #052864b6;
	--clr-hover-600: #00246db5;
	--clr-hover-650: #001c5eb4;
	--clr-hover-700: #000d5eb4;
	--clr-hover-800: #05174ab3;
	--clr-hover-850: #021336b2;


	/** Neutral colors **/
	--clr-n-0: #ffffff;
	--clr-n-50: #f5f5f5;
	--clr-n-100: #c7c7c7;
	--clr-n-150: #a0a0a0;
	--clr-n-200: #a7a7a7;
	--clr-n-250: #8e8e8e;
	--clr-n-300: #787878;
	--clr-n-350: #6f6f6f;
	--clr-n-400: #595959;
	--clr-n-450: #3f3f3f;
	--clr-n-500: #3b3b3b;
	--clr-n-550: #292929;
	--clr-n-600: #242424;
	--clr-n-700: #1f1f1f;
	--clr-n-800: #0a0a0a;
	--clr-n-900: #000000;

	/** Transparency colors **/
	--clr-tr-0: #ffffff00;
	--clr-tr-50: #ffffff19;
	--clr-tr-100: #ffffff1a;
	--clr-tr-150: #ffffff26;
	--clr-tr-200: #ffffff33;
	--clr-tr-250: #ffffff4c;
	--clr-tr-300: #ffffff4d;
	--clr-tr-350: #ffffff5f;
	--clr-tr-400: #ffffff66;
	--clr-tr-450: #ffffff7f;
	--clr-tr-500: #ffffff80;
	--clr-tr-550: #ffffff87;
	--clr-tr-600: #ffffff99;
	--clr-tr-700: #ffffffb3;
	--clr-tr-800: #ffffffcc;
	--clr-tr-900: #ffffffe6;

	/** Background and text colors **/
	--bg-clr-light: #dfdfdf;
	--bg-clr-dark: #5c5c5c;
	--bg-clr-imp: #4f4f4f;
	--bg-clr-accent: #0066c5;
	--txt-clr-light: #ededed;
	--txt-clr-dark: #292727;

	/** Border/Outline colors **/
	--bdr-clr-light: #cbcbcb;
	--bdr-clr-dark: #464646;

	/** Sizes: **/
	/* Font size (fs) */
	--fs-h1: 2.65rem;
	--fs-h2: 2rem;
	--fs-h3: 1.5rem;
	--fs-nav: 1.05rem;
	--fs-list: 1.3rem;
	--fs-section: 1.8rem;
	--fs-body: 1.25rem;
	--fs-footer: 1.2rem;

	/* Font Weight (fw) */
	--fw-text: 450;
	--fw-imp: 650;
	--fw-head: 750;
	--fw-list: 550;
	--fw-section: 700;
	--fw-footer: 550;

	/* Margin (m) Padding (p) */
	--m-min: 0.7rem;
	--m-normal: 1rem;
	--m-max: 3rem;
	--m-box: 1.5rem;
	--m-space: 2rem;
	--m-height: 1.7rem;
	--m-width: .85rem;

	--p-min: 0.25rem;
	--p-normal: 1.3rem;
	--p-max: 2.75rem;
	--p-box: 1.7rem;
	--p-space: 2rem;
	--p-width: .5rem;
	--p-height: 1.8rem;
}

/* Main Functional part start: */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, "Helvetica", sans-serif;
}

html {
	height: 100%;
	width: 100%;
}


body {
	background: linear-gradient(-45deg, #02011e, #002478);
}

h1 {
	color: var(--clr-a-100);
	font-weight: var(--fw-head);
	font-family: "Monserrat", Helvetica, Verdana, sans-serif;
	margin: var(--m-space);
	text-align: center;
}

h2 {
	color: var(--clr-n-100);
	font-family: "Arial", Helvetica, sans-serif;
	margin: var(--m-box) var(--m-width);
}

h3 {
	color: var(--clr-n-100);
	font-family: "Arial", Helvetica, sans-serif;
	margin: var(--m-box) var(--m-width);
}

p {
	color: var(--clr-n-100);
	font-family: system-ui, "Verdana", sans-serif;
	display: inline-flex;
	margin: var(--m-box) var(--m-normal);
	margin-right: 0;
}


footer {
	position: fixed;
	color: var(--txt-clr-light);
	font-family: system-ui, 'Helvetica', sans-serif;
	text-align: center;
	width: 100%;
	bottom: 10px;
	font-size: var(--fs-footer);
}

/* Main Functional part end. */


/* Classes Start: */
.f1 {
	color: var(--clr-s-400);
	background-color: var(--clr-n-600);
	outline: #585858 solid 1.6px;
	border-radius: 0.45rem;
	font-family: "Segoe UI Variable", Tahoma, sans-serif;
	letter-spacing: 0.5px;
	display: inline-flex;
	justify-content: flex-end;
	text-align: center;
	padding: var(--p-min) var(--p-width);
	margin-left: 10px;
}

.f1:hover {
	background-color: #178406;
	color: #f0f8ff;
}

.f1:active {
	background-color: #23ae3f;
	outline: #008504b6 solid 1.6px;
}


/* Classes End: */

/** Popover code Section: */

/* ! This doesn't work ! */

/* DEPRECATED */

#popbtn {
	color: #349dff;
	font-size: 0.94rem;
	text-align: center;
	padding: 0.2rem 0.5rem;
	translate: 1rem;
	position: relative;
	background-color: #1d1d1d;
	border: #2f2f2f 0.2rem solid;
	border-radius: .6rem;
}

#popbtn:hover {
	background-color: #002142;
	color: #489ee9;
	border: #3c4e60 solid 0.2rem;
}

#popbtn:active {
	border-style: outset;
	border-width: 0.2rem;
	border-color: #002142;
	border-bottom-color: #0080ff;
	border-right-color: #0080ff;
}


#popup {
	color: #fff;
	padding: .5rem;
	margin: auto;
	background-color: var(--bg-clr-imp);
	border: #2f2f2f 0.2rem solid;
	border-radius: .6rem;
	position: absolute;
}