/* Main Functional part start: */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, "Helvetica", sans-serif;
}

h1 {
	color: #0060dd;
	font-family: "Arial", Helvetica, sans-serif;
}

h2 {
	color: #c7e5ff;
	font-family: "Arial", Helvetica, sans-serif;
}

p {
	color: #c7e5ff;
	font-family: system-ui, "Verdana", sans-serif;
	display: inline-flex;
}


footer {
	position: fixed;
	color: #ebebeb;
	font-family: system-ui, 'Helvetica', sans-serif;
	text-align: center;
	width: 100%;
	bottom: 10px;
	font-size: 1rem;
}


/** Progress Bar CSS Start **/
progress {
	appearance: none;
	padding: 2px;
}

/* * ::-webkit-~~~ are for the Chromium/Safari browsers. * */

::-webkit-progress-inner-element {
	border: 2px transparent #00aeff;
	color: #242424;
}

::-webkit-progress-bar {
	background-color: #ffffffa8;
}

::-webkit-progress-value {
	background-color: #ff8c00;
	border-radius: 10%;
}

/* * ::-moz~~~ are for the Firefox browser only. **/

::-moz-progress-bar {
	background-color: #ff8c00;
}

/* *Progress Bar CSS End* */

/* Main Functional part end. */


/* Classes Start: */
.f1 {
	color: #c7e5ff;
	background-color: #292727;
	border: #585858 solid 1.6px;
	border-radius: 0.45rem;
	font-family: "Segoe UI Variable", Tahoma, sans-serif;
	letter-spacing: 0.5px;
	display: inline-flex;
	justify-content: flex-end;
	text-align: center;
	padding: 0.25rem 0.35rem;
	margin-left: 10px;
}

.f1:hover {
	background-color: #178406;
	color: #f0f8ff;
}

.f1:active {
	background-color: #23ae3f;
	border: #008504b6 solid 1.6px;
}

.warn {
	color: #b22222;
	font-weight: 900;
}

.test {
	display: inline-block;
	justify-content: flex-end;
	font-weight: 700;
}

/* Classes End: */