/* Main Functional part start: */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: system-ui, -apple-system, "Helvetica", sans-serif;
}

body {
	background: linear-gradient(-45deg, #02011e, #002478);
	height: 100vh;
	overflow: hidden;
}

h1 {
	color: #0060dd;
	font-weight: 700;
	font-family: "Monserrat", Helvetica, Verdana, sans-serif;
	margin: 1.05rem;
	margin-bottom: 1.5rem;
	text-align: center;
}

h2 {
	color: #c7e5ff;
	font-family: "Arial", Helvetica, sans-serif;
	margin: 1rem .6rem;
}

h3 {
	color: #c7e5ff;
	font-family: "Arial", Helvetica, sans-serif;
	margin: 1rem .6rem;
}

p {
	color: #c7e5ff;
	font-family: system-ui, "Verdana", sans-serif;
	display: inline-flex;
	margin: 1rem .8rem;
	margin-right: 0;
}


footer {
	position: fixed;
	color: #ebebeb;
	font-family: system-ui, 'Helvetica', sans-serif;
	text-align: center;
	width: 100%;
	bottom: 10px;
	font-size: 1rem;
}


/** Progress Bar CSS Start **/
progress {
	appearance: none;
	padding: 2px;
}

/* * ::-webkit-~~~ are for the Chromium/Safari browsers. * */

::-webkit-progress-inner-element {
	border: 2px transparent #00aeff;
	color: #242424;
}

::-webkit-progress-bar {
	background-color: #ffffffa8;
}

::-webkit-progress-value {
	background-color: #ff8c00;
	border-radius: 10%;
}

/* * ::-moz~~~ are for the Firefox browser only. **/

::-moz-progress-bar {
	background-color: #ff8c00;
}

/* *Progress Bar CSS End* */

/* Main Functional part end. */


/* Classes Start: */
.f1 {
	color: #c7e5ff;
	background-color: #292727;
	border: #585858 solid 1.6px;
	border-radius: 0.45rem;
	font-family: "Segoe UI Variable", Tahoma, sans-serif;
	letter-spacing: 0.5px;
	display: inline-flex;
	justify-content: flex-end;
	text-align: center;
	padding: 0.25rem 0.35rem;
	margin-left: 10px;
}

.f1:hover {
	background-color: #178406;
	color: #f0f8ff;
}

.f1:active {
	background-color: #23ae3f;
	border: #008504b6 solid 1.6px;
}

.warn {
	color: #b22222;
	font-weight: 900;
}

.test {
	display: inline-block;
	justify-content: flex-end;
	font-weight: 700;
}

/* Classes End: */

/** New Experimental Feature: Popovers*! Only Works on Chromium Browsers !*/

[popover] {
	inset: unset;
	position: relative;
	bottom: anchor(top);
	left: anchor(center);
	translate: -38.5%;
	margin-bottom: 0.54rem;
	padding: 0.40rem 0.68rem;
	font-family: system-ui, -apple-system, 'Helvetica', Calibri, sans-serif;
	color: #4bc6ff;
	background-color: #464646;
	text-shadow: #1d1d1d 0rem 0.15rem 0.05rem;
	border: #0053d8 solid 0.2rem;
	border-radius: 0.75rem;
}

#popbtn {
	color: #349dff;
	font-size: 0.94rem;
	text-align: center;
	padding: 0.2rem 0.5rem;
	translate: 1rem;
	background-color: #1d1d1d;
	border: #2f2f2f 0.2rem solid;
	border-radius: .6rem;
}

#popbtn:hover {
	background-color: #002142;
	color: #489ee9;
	border: #3c4e60 solid 0.2rem;
}

#popbtn:active {
	border-style: outset;
	border-width: 0.2rem;
	border-color: #002142;
	border-bottom-color: #0080ff;
	border-right-color: #0080ff;
}
